<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><span class="material-icons leftNav">list</span>Categories</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [href]="category.url" *ngFor="let category of categories">
        <span class="material-icons leftNav">{{category.icon}}</span>
        {{category.name}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
      <span class="material-icons">list</span>
      </button>
      <a href=" " class="Text"><span>Hulk Store</span></a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>