
<div class="content">
    <div class="tittle">
        <h1>
            <b>Glasses</b>
        </h1>
    </div>

    <div class="content">
        <div class="row">
            <h2 class="subtittle">
                <b>Glasses Marvel</b>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3 results" *ngFor="let item of articlesMarvel">
                <app-card [article]="item" [category]="2"></app-card>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <h2 class="subtittle">
                <b>Glasses Dc</b>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3 results" *ngFor="let item of articlesDc" >
                <app-card [article]="item" [category]="2"></app-card>
            </div> 
        </div>
    </div>

    <div class="content">
        <div class="row">
            <h2 class="subtittle">
                <b>Others Glasses</b>
            </h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-xl-3 col-lg-3 col-sm-3 results" *ngFor="let item of articlesOthers">
                <app-card [article]="item" [category]="2"></app-card>
            </div> 
        </div>
    </div>
</div>

